@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* MAIN NAVBAR */
.nav {
  width: 100%;
  height: 70px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
}

/* LOGO LEFT */
.logo img {
  height: 110px;
  width: auto;
  max-width: 120px;
  object-fit: contain;
  display: block;
}

/* LINKS RIGHT */
.nav-links {
  display: flex;
  gap: 35px;
  white-space: nowrap;
  align-items: center;
}

.nav-links a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: red;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 5px;
}

/* ============================
      RESPONSIVE DESIGN
   ============================ */

/* TABLETS & SMALL LAPTOPS */
/* TABLETS + MOBILE - RIGHT SIDE SLIDE MENU */
@media (max-width: 900px) {

  .hamburger {
    display: flex;
    z-index: 1200; /* so hamburger stays above */
  }

  /* RIGHT SIDE MENU */
  .nav-links {
    position: fixed; 
    top: 0;
    right: -250px; /* hidden by default */
    width: 250px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: 0.4s ease-in-out;
    z-index: 1100;
    height: 340px /* above images, videos, everything */
  }

  /* WHEN OPEN */
  .nav-links.open {
    right: 0;
  }

  .nav-links a {
    font-size: 18px;
    padding: 10px 0;
  }
}


/* MOBILE PHONES */
@media (max-width: 600px) {

  .nav {
    padding: 0 12px;
  }

  .logo img {
    height: 90px;
    max-width: 100px;
  }

  .hamburger span {
    width: 25px;
  }

  .nav-links a {
    font-size: 17px;
  }
}

/* SMALL PHONES */
@media (max-width: 450px) {

  .nav {
    padding: 0 10px;
  }

  .logo img {
    height: 80px;
    max-width: 85px;
  }

  .hamburger span {
    width: 23px;
    height: 2.8px;
  }
}

/* EXTRA SMALL DEVICES (350px - 250px) */
@media (max-width: 350px) {

  .nav {
    padding: 0 8px;
  }

  .logo img {
    height: 65px;
    max-width: 70px;
  }

  .hamburger span {
    width: 20px;
    height: 2.5px;
  }

  .nav-links a {
    font-size: 15px;
  }
}

/* ULTRA SMALL DEVICES 280px - 230px */
@media (max-width: 280px) {

  .nav {
    height: 60px;
    padding: 0 6px;
  }

  .logo img {
    height: 55px;
    max-width: 60px;
  }

  .hamburger span {
    width: 18px;
  }

  .nav-links a {
    font-size: 14px;
  }
}
